.main-user-issues {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
}

.main-user-issues button {
    width : 12rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}